<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>lost</servlet-name>
        <servlet-class>lost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>found</servlet-name>
        <servlet-class>found</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showlost</servlet-name>
        <servlet-class>showlost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showdetails</servlet-name>
        <servlet-class>showdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>losr</servlet-name>
        <servlet-class>losr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lostentry</servlet-name>
        <servlet-class>lostentry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lostperson</servlet-name>
        <servlet-class>lostperson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showfound</servlet-name>
        <servlet-class>showfound</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>foundperson</servlet-name>
        <servlet-class>foundperson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imgloaderlost</servlet-name>
        <servlet-class>imgloaderlost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imgloaderfound</servlet-name>
        <servlet-class>imgloaderfound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lost</servlet-name>
        <url-pattern>/lost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>found</servlet-name>
        <url-pattern>/found</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showlost</servlet-name>
        <url-pattern>/showlost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showdetails</servlet-name>
        <url-pattern>/showdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>losr</servlet-name>
        <url-pattern>/losr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lostentry</servlet-name>
        <url-pattern>/lostentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lostperson</servlet-name>
        <url-pattern>/lostperson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showfound</servlet-name>
        <url-pattern>/showfound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>foundperson</servlet-name>
        <url-pattern>/foundperson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imgloaderlost</servlet-name>
        <url-pattern>/imgloaderlost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imgloaderfound</servlet-name>
        <url-pattern>/imgloaderfound</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
